/* Used setID for these */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

#root{
    -fx-background-color: #323437;
    -fx-border-color: #e2b714;
}


#letter {
    -fx-text-fill: Orange;
    -fx-background-color: transparent;
    -fx-font-size: 15;
    -fx-font-family: "Roboto Mono", sans-serif;
    -fx-font-weight: Bold;

}

#quit {
    -fx-text-fill: Orange;
    -fx-background-color: transparent;
    -fx-font-size: 15;
    -fx-font-family: "Roboto Mono", sans-serif;
    -fx-font-weight: Bold;
}

/*.button {
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}