/* Used setID for these */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

#root{
    -fx-background-color: #a9a9a9;
    -fx-border-color: #006ee6;
}


#letter {
    -fx-text-fill: #323437;
    -fx-background-color: transparent;
    -fx-font-size: 20;
    -fx-font-family: "Roboto Mono", sans-serif;
    -fx-font-weight: Bold;

}

#stats {
    -fx-fill: #323437;
    -fx-font-family: "Roboto Mono", sans-serif;
}

#quit {
    -fx-text-fill: #006ee6;
    -fx-background-color: transparent;
    -fx-font-size: 15;
    -fx-font-family: "Roboto Mono", sans-serif;
    -fx-font-weight: Bold;
}

.root{
    -fx-background-color: #a9a9a9;
    -fx-border-color: #006ee6;
}

#stats {
    -fx-fill: #646669;
    -fx-font-family: "Roboto Mono", sans-serif;
}

#Title{
    -fx-text-fill: #323437;
    -fx-fill: #646669;
    -fx-font-size: 30;
    -fx-font-family: "Roboto Mono", sans-serif;
    -fx-font-weight: 400;
    -fx-padding: 15px;

}

#setting {
    -fx-text-fill: #646669;
    -fx-background-color: transparent;
    -fx-font-family: "Roboto Mono", sans-serif;
    -fx-font-size: 1em; /* 12 */
}

#setting:hover {
    -fx-text-fill: #006ee6;
}

#setting:selected  {
    -fx-text-fill: #006ee6;
    -fx-background-color: transparent;
    -fx-font-family: "Roboto Mono", sans-serif;
    -fx-font-size: 1em; /* 12 */

}

#settingsBox {
    -fx-background-color: #b5b4b4;
}

#toggleBtn {
    -fx-text-fill: #006ee6;
    -fx-background-color: transparent;
}
#instructions {
    -fx-text-fill: #323437;
    -fx-font-family: "Roboto Mono", sans-serif;
    -fx-padding: 29px;
    -fx-font-weight: Italic;
}

#transitionButton {
    -fx-background-color: transparent;
    -fx-text-fill: #006ee6;
    -fx-font-family: "Roboto Mono", sans-serif;
    -fx-font-size: 18;
    -fx-font-weight: bold;
    -fx-padding: 50px;
}

#countDown {
    -fx-background-color: transparent;
    -fx-text-fill: #006ee6;
    -fx-font-family: "Roboto Mono", sans-serif;
    -fx-font-size: 25;
    -fx-font-weight: bold;
    -fx-padding: 30px;
}

#playAgain {
    -fx-background-color: transparent;
    -fx-font-size: 15;
    -fx-font-family: "Roboto Mono", sans-serif;
    -fx-text-fill: #006ee6;
}

#label {
    -fx-font-style: oblique;
    -fx-text-fill: #323437;
}

#btnLabel {
    -fx-text-fill: #323437;
    -fx-font-family: "Roboto Mono", sans-serif;
}

.toggle-button{
    -fx-transition-duration: 0.4s;
    -fx-border-color: transparent;
    -fx-border-width: 1, 1;
    -fx-background-radius: 1, 1;
    -fx-border-insets: 1 1 1 1, 0;
    -fx-background-color: transparent;
    -fx-font-family:"Roboto Mono", sans-serif;
    -fx-font-size: 1em; /* 12 */
    -fx-text-fill: #646669;
}

.toggle-button:hover {
    -fx-border-radius: 8px;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    -fx-background-radius: 8px;
    -fx-border-width: 1, 1;
    -fx-border-insets: 1 1 1 1, 0;
    -fx-text-fill: #006ee6;
}

.toggle-button:selected  {
    -fx-text-fill: #006ee6;
    -fx-background-color: transparent;
    -fx-font-family: "Roboto Mono", sans-serif;
    -fx-font-size: 1em; /* 12 */

}