/* Used setID for these */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

#root{
    -fx-background-color: #864a92;
    -fx-border-color: #967bb6;

}

#settingsBox {
    -fx-background-color: #683a71;
}

#letter {
    -fx-fill: #ccadd3;
    -fx-font-size: 20;
    -fx-font-family: "Roboto Mono", sans-serif;
    -fx-font-weight: 400;

}

#stats {
    -fx-text-fill: #646669;
    -fx-font-family: "Roboto Mono", sans-serif;
}

#Title{
    -fx-text-fill: #683a71;
    -fx-fill: #683a71;
    -fx-font-size: 40;
    -fx-font-family: "Roboto Mono", sans-serif;
    -fx-font-weight: 400;
    -fx-padding: 15px;

}

#intro {
    -fx-text-fill: #a9a9a9;
    -fx-font-family: "Roboto Mono", sans-serif;
    -fx-padding: 15px;

}
#setting {
    -fx-text-fill: #6d5788;
    -fx-background-color: transparent;
    -fx-font-family: "Roboto Mono", sans-serif;
    -fx-font-size: 21;
}

#setting:hover {
    -fx-text-fill: #967bb6;
}

#setting:selected  {
    -fx-text-fill: #967bb6;
    -fx-background-color: transparent;
    -fx-font-family: "Roboto Mono", sans-serif;
    -fx-font-size: 21;

}
#transitionButton {
    -fx-text-fill: #bc92c5;
    -fx-background-color: transparent;
    -fx-font-size: 28;
    -fx-font-family: "Roboto Mono", sans-serif;
    -fx-font-weight: Bold;
    -fx-padding: 50px;
}

#countDown {
    -fx-text-fill: #967bb6;
    -fx-background-color: transparent;
    -fx-font-size: 25;
    -fx-font-family: "Roboto Mono", sans-serif;
    -fx-padding: 30px;
}


#label {
    -fx-text-fill: #a9a9a9;
    -fx-font-family: "Roboto Mono", sans-serif;
}

#btnLabel {
    -fx-text-fill: #a9a9a9;
    -fx-font-family: "Roboto Mono", sans-serif;
    -fx-font-size: 21;
}

#instructions {
    -fx-text-fill: #a9a9a9;
    -fx-font-family: "Roboto Mono", sans-serif;
    -fx-padding: 29px;
    -fx-font-size: 21;
}
.toggle-button{
    -fx-transition-duration: 0.4s;
    -fx-border-color: transparent;
    -fx-border-width: 1, 1;
    -fx-background-radius: 1, 1;
    -fx-border-insets: 1 1 1 1, 0;
    -fx-background-color: transparent;
    -fx-font-family:"Roboto Mono", sans-serif;
    -fx-font-size: 21;
    -fx-text-fill: #6d5788;
}

.toggle-button:hover {
    -fx-border-radius: 8px;
    -fx-border-color: transparent;
    -fx-text-fill: #967bb6;
    -fx-background-color: transparent;
    -fx-background-radius: 8px;
    -fx-border-width: 1, 1;
    -fx-border-insets: 1 1 1 1, 0;
}

.toggle-button:selected  {
    -fx-text-fill: #967bb6;
    -fx-background-color: transparent;
    -fx-font-family: "Roboto Mono", sans-serif;
    -fx-font-size: 21;

}

#statsLabel {
    -fx-text-fill: #683a71;
    -fx-font-family: "Roboto Mono", sans-serif;
    -fx-font-size: 20;

}

#statsInfo {
    -fx-font-size: 25;
    -fx-text-fill: #bc92c5;
    -fx-font-family: "Roboto Mono", sans-serif;
}

