.toggle-button {
    -fx-text-fill: Orange;
    -fx-background-color: transparent;
    -fx-font: Arial;
    -fx-font-weight: bold;
}

.toggle-button:selected {
    -fx-text-fill: Orange;
    -fx-background-color: transparent;

    -fx-font-size: 15;
    -fx-font-weight: bold;
}