@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
.root{
    -fx-background-color: #323437;
    -fx-border-color: #e2b714;
}
#Title{
    -fx-text-fill: #646669;
    -fx-fill: #646669;
    -fx-font-size: 30;
    -fx-font-family: "Roboto Mono", sans-serif;
    -fx-font-weight: 400;

}

#start {
    -fx-text-fill: Orange;
    -fx-background-color: transparent;
    -fx-font-size: 15;
    -fx-font-family: "Roboto Mono", sans-serif;
    -fx-font-weight: Bold;
}

#playAgain {
    -fx-text-fill: Orange;
    -fx-background-color: transparent;
    -fx-font-size: 15;
    -fx-font-family: "Roboto Mono", sans-serif;
    -fx-font-weight: Bold;

}


