.root{
    -fx-background-color: White;
    -fx-border-color: Orange;
}
#Title{
    -fx-text-fill: Orange;

}

#start {
    -fx-background-color: transparent;
    -fx-text-fill: Orange;
    -fx-font: Arial;
    -fx-font-size: 15;
    -fx-padding: 15;
    -fx-font-weight: bold;
}

#playAgain {
    -fx-background-color: transparent;
    -fx-text-fill: Orange;

}
