@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
.root{
    -fx-background-color: #323437;
    -fx-border-color: #e2b714;
}
#Title{
    -fx-text-fill: #646669;
    -fx-fill: #646669;
    -fx-font-size: 30;
    -fx-font-family: "Roboto Mono", sans-serif;
    -fx-font-weight: 400;

}

#setting {
    -fx-text-fill: #646669;
    -fx-background-color: transparent;
    -fx-font-family: "Roboto Mono", sans-serif;
    -fx-font-size: 1em; /* 12 */
}

#setting:hover {
    -fx-text-fill: Orange;
}

#setting:selected  {
    -fx-text-fill: Orange;
    -fx-background-color: transparent;
    -fx-font-family: "Roboto Mono", sans-serif;
    -fx-font-size: 1em; /* 12 */

}
#start {
    -fx-text-fill: Orange;
    -fx-background-color: transparent;
    -fx-font-size: 18;
    -fx-font-family: "Roboto Mono", sans-serif;
    -fx-font-weight: Bold;
}

#playAgain {
    -fx-text-fill: Orange;
    -fx-background-color: transparent;
    -fx-font-size: 15;
    -fx-font-family: "Roboto Mono", sans-serif;
    -fx-font-weight: Bold;

}

#label {
    -fx-text-fill: #a9a9a9;
    -fx-font-family: "Roboto Mono", sans-serif;
}

#btnLabel {
    -fx-text-fill: #a9a9a9;
    -fx-font-family: "Roboto Mono", sans-serif;

}
.toggle-button{
    -fx-transition-duration: 0.4s;
    -fx-border-color: transparent;
    -fx-border-width: 1, 1;
    -fx-background-radius: 1, 1;
    -fx-border-insets: 1 1 1 1, 0;
    -fx-background-color: transparent;
    -fx-font-family:"Roboto Mono", sans-serif;
    -fx-font-size: 1em; /* 12 */
    -fx-text-fill: #646669;
}

.toggle-button:hover {
    -fx-border-radius: 8px;
    -fx-border-color: transparent;
    -fx-text-fill: orange;
    -fx-background-color: transparent;
    -fx-background-radius: 8px;
    -fx-border-width: 1, 1;
    -fx-border-insets: 1 1 1 1, 0;
}

.toggle-button:selected  {
    -fx-text-fill: orange;
    -fx-background-color: transparent;
    -fx-font-family: "Roboto Mono", sans-serif;
    -fx-font-size: 1em; /* 12 */

}
