.root{
    -fx-background-color: #a9a9a9;
    -fx-border-color: #e2b714;
}
#Title{
    -fx-text-fill: #323437;
    -fx-fill: #646669;
    -fx-font-size: 30;
    -fx-font-family: "Roboto Mono", sans-serif;
    -fx-font-weight: 400;

}

#start {
    -fx-background-color: transparent;
    -fx-text-fill: Orange;
    -fx-font: Arial;
    -fx-font-size: 15;
    -fx-padding: 15;
    -fx-font-weight: bold;
}

#playAgain {
    -fx-background-color: transparent;
    -fx-text-fill: Orange;

}
